/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 16, 99);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 16, 99);
}
/* global styling */
body {
  overflow-x: hidden;
  direction: ltr;
  height: 100% !important;
}
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100% !important;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 20px !important;
  padding: 0px;
}
#app,
html {
  height: 100%;
}
.v-layout {
  height: 100%;
  padding: 10px;
}
.v-navigation-drawer__content {
  padding: 20px 10px;
}

a {
  display: block !important;
  text-decoration: none !important;
  color: inherit;
  &:active,
  &:hover {
    color: inherit;
  }
}

.v-navigation-drawer--active {
  color: red !important;
}
