.is-ar {
  body {
    direction: rtl;
  }
  .v-navigation-drawer {
    right: 0px;
    left: auto;
  }
  table {
    direction: rtl !important;
    th,
    td {
      text-align: right !important;
    }
  }
  table .v-data-table-rows-loading td {
    text-align: center !important;
  }
  .v-dialog > .v-overlay__content {
    direction: rtl !important;
  }
  table {
    th,
    td {
      text-align: right !important;
    }
  }
  .v-field {
    direction: rtl !important;
  }
}
