@import "../../../assets/scss/_variables.scss";
/* Navbar */
.navbar {
  // gap: 150px;
  // position: absolute;
  // height: 60px;
  // width: 100%;
  // top: 20px;
  // z-index: 999;
  .navbar-brand {
    margin-right: 13%;
    h4 {
      color: var(--orange-text-color);
    }
  }
  .navbar-toggler .navbar-toggler-icon {
    filter: invert(1);
    -webkit-filter: invert(1);
    &:focus {
      box-shadow: 0px 0px 0px;
    }
  }
  .navbar-nav {
    .navbar-btns {
      color: #04233a;
      display: none;
      select {
        border: none;
        background: white;
      }
      .login_link {
        color: var(--mainColor);

        font-weight: 600;
      }
    }
    .nav-link {
      font-weight: normal;
      color: white;
      padding: 15px 15px 5px;
      font-size: 16px;
      cursor: pointer;
    }
    .active {
      color: var(--orange-text-color);
    }
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
      font-weight: bold;
      color: var(--mainColor);
    }
  }
  .btn {
    color: white;
  }
  .navbar-btns-icons img {
    width: 20px;
    height: 25px;
  }
  .show {
    display: block !important;
  }
  .website {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  ul.list_links {
    display: flex;
    list-style-type: none;
    padding: 0px;
    li a:hover {
      color: var(--orange-text-color);
    }
  }
  .mobile {
    margin: 0px;
    text-align: center;
    box-shadow: rgba(177, 177, 177, 0.22) 8px 37px 26px 10px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background: #00000030;
    .mobile_sec {
      background: white;
      padding: 50px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      width: 90%;
      margin: auto;
      margin-top: 10%;
      position: relative;
      .close {
        position: absolute;
        right: 12%;
        z-index: 9999;
        width: 20px;
        height: 20px;
        top: 20px;
      }
    }
    ul.list_links {
      display: block;
    }
  }
  .lang {
    button {
      background: transparent;
      border: 0px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/****media****/

@media screen and (max-width: 1199px) {
  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
  .website,
  .mobile {
    display: none !important;
  }
  .navbar .navbar-btns-icons {
    display: none !important;
  }
  .mobile {
    border-radius: 8px;
    background: white;
  }
  .navbar .navbar-nav {
    .nav-link {
      color: black;
    }
  }
  .navbar .navbar-nav .navbar-btns {
    display: block;
  }

  .navbar .mobile {
    margin: 0px;
    text-align: center;
    box-shadow: rgba(177, 177, 177, 0.22) 8px 37px 26px 10px;
  }

  .navbar .mobile .navbar-btns a {
    display: inline-block !important;
    width: 33%;
  }
  .navbar .simple-button.send button,
  .navbar .simple-button.send .btn {
    width: max-content;
  }
  .navbar .container {
    max-width: 100%;
  }
  .navbar-expand-lg .navbar-nav {
    justify-content: center;
  }
}
@media screen and (min-width: 993px) {
  .website {
    display: flex;
  }
  .mobile {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    display: none !important;
  }
}

/****is-ar****/
.is-ar {
  .navbar .mobile .mobile_sec .close {
    left: 10%;
    right: auto;
  }
}
